<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOAL 1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div>
      <div id="app">
        <input v-model="search" type="search" placeholder="Ketikkan Kata Kunci"  id="keyword" name="keyword" />
        <p>
            <ul v-for="book in filterBooks">
                <li>{{ book }}</li>
            </ul>
        </p>        
      </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          search:'',
          books: [
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Linier Elementer",
            "Aljabar Abstrak",
            "Algoritma Pemrograman",
          ],
        },
        computed: {
            filterBooks: function () {
                return this.books.filter((book)=> {
                    return book.toLowerCase().match(this.search.toLowerCase());
                });
            }
        }
      });
    </script>
  </body>
</html>
