<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOAL 2</title>
  </head>
  <body>
    <div id="app">
      <div style="margin-left: 30px">
        <div
          v-for="(post, index) in posts"
          :key="index"
          style="margin-bottom: 20px"
        >
          <button v-on:click="post.score += 1">+</button>
          <p style="margin-top: 0; margin-bottom: 0">
            {{ post.content }} || {{ post.tahun }} || {{ post.score}}
          </p>
          <button v-on:click="post.score -= 1">-</button>
        </div>
      </div>
      <div style="margin-left: 30px; white-space: pre-line" v-text></div>

      <textarea
        name="desc"
        id="desc"
        cols="50"
        rows="10"
        v-on:keyup.enter="submit"
      ></textarea>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          posts: [
            {
              content: "Komentar 1 Komentar 1 Komentar 1",
              tahun: "29-07-2020",
              score: 0,
            },
            {
              content: "Komentar 2 Komentar 2 Komentar 2",
              tahun: "28-07-2020",
              score: 5,
            },
            {
              content: "Komentar 3 Komentar 3 Komentar 3",
              tahun: "27-07-2020",
              score: 5,
            },
          ],
          tahunDefault: "27-07-2020",
          scoreDefault: 0,
        },
        methods: {
          submit: function (event) {
            let newContent = event.target.value.trim();

            let newPost = {
              content: newContent,
              tahun: this.tahunDefault,
              score: this.scoreDefault,
            };

            this.posts.push(newPost);
            event.target.value = "";
          },
        },
      });
    </script>
  </body>
</html>
